* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

img {
  width: 100%;
}

button {
  border: none;
  font-size: 1.8rem;
}

.main-btn {
  /* margin-top: 4rem; */
  font-weight: bold;
  padding: 2rem 10rem;
  background-color: #f46632;
  color: #fff;
  border-radius: 1.5rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
}

p {
  font-size: 1.8rem;
  line-height: 3.5rem;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.theme {
  text-align: center;
}

.theme h1 {
  font-size: 11rem;
  color: #ccc;
}

.theme h2 {
  margin-top: -8rem;
}

.big-content {
  padding: 2rem 8rem 4rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 2rem 8rem #ccc;
}

/* HEADER STARTED */

header {
  height: 50rem;
  background-color: #000;
  padding: 1rem 10%;
}

header a {
  color: #fff;
}

header .navbar-tags {
  height: 6rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 2.5rem;
}

header .navbar-tags .navbar {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

header .navbar-tags button {
  padding: 1.3rem 3rem;
  border-radius: 2.5rem;
  background-color: #404040;
  color: #fff;
}

/* HEADER END */

.container {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

/* HERO SLIDER STARTED */

.container .hero-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 2rem 8rem;
  border-radius: 2rem;
  margin-top: -41rem;
  background-color: #fff;
  box-shadow: 0 0 0.3rem #aaa;
}

.container .hero-slider .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.container .hero-slider .hero-img {
  width: 50rem;
  justify-self: center;
  padding: 2rem;
}

/* HERO SLIDER FINISHED */

/* ABOUT STARTED */

.container .about {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 50rem 40rem 3rem;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 2rem;
}

.container .about .social-n {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 2rem;
}

/* ABOUT FINISHED */

/* EXPERIENCE STARTED */

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience .e-pages {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  align-items: center;
  justify-content: center;
}

.experience .e-pages .page {
  border: 1px solid #000;
  padding: 1rem;
  text-align: center;
}

.experience .e-pages .first {
  border-radius: 1rem 0 0 1rem;
}

.experience .e-pages .last {
  border-radius: 0 1rem 1rem 0;
}

.experience .e-pages .active {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.experience .e-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

/* EXPERIENCE FINISHED */

/* SESSIONS STARTED */

.sessions {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.sessions .cards {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.sessions .cards .card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sessions .cards .card .s-title {
  padding-left: 2rem;
  border-left: 0.5rem solid #000;
}

.sessions .cards .card .s-title .title-theme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #f8f8f8;
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 1rem;
}

.sessions .cards .card .s-title .title-theme img {
  width: 3rem;
  height: auto;
}

.sessions .cards .card .s-title .title-theme div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sessions .cards .card .card-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
}

.sessions .cards .card .card-content img {
  width: 12rem;
}

/* SESSIONS FINISHED */

/* MASTERS STARTED */

.masters {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.masters .m-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.masters .m-cards .m-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.masters .m-cards .m-card p {
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.masters .m-cards img {
  width: 80%;
}

/* MASTERS FINISHED */

/* FAQ STARTED */
.faq {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.faq .quests {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.faq .quests .quest {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7rem;
  background-color: #efefef;
  border-radius: 1rem;
}

/* FAQ FINISHED */

/* COURSE STARTED */

.course {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.course .c-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 4rem;
}

.course .c-content .left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course .c-content .left-side div {
  display: flex;
  gap: 3rem;
}
.course .c-content .left-side div img {
  width: 3.5rem;
}

.course .c-content .right-side {
  background-color: #000;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 4rem;
}

.course .c-content .line {
  grid-column: 1 / span 2;
  border-top: 1px solid #aaa;
  margin: 4rem 0;
}

.course .c-content .bottom-side {
  grid-column: 1 / span 2;
  text-align: center;
}
/* COURSE FINISHED */

/* REQUEST STARTED */

.request {
  background-color: #000;
  color: #fff;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 8rem 6rem;
}

.request p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.request .r-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.request .r-content input {
  padding: 2rem 3rem;
  background-color: #404040;
  color: #fff;
  border: none;
  border-radius: 1rem;
}

.request .r-content input::placeholder {
  color: #fff;
  font-size: 1.6rem;
}

.request .r-content div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.request .r-content div img {
  width: 2rem;
}

.request .r-imgs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request .back {
  margin-top: -3rem;
  width: 100%;
}

.request .front {
  margin-top: -40rem;
  width: 40%;
  margin-bottom: 10rem;
}

/* REQUEST FINISHED */

/* PROJECTS STARTED */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  row-gap: 8rem;
}

.projects .theme {
  grid-column: 1 / span 2;
}

.projects .left-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}

.projects .left-side .p-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects .left-side .p-section .true {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projects .left-side .p-section img {
  width: 3rem;
}

.projects .left-side .p-theme {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.projects .left-side .p-theme .circle {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border-radius: 50%;
}

.projects .left-side .next-btn {
  padding: 1rem 3rem;
  border-radius: 1rem;
  align-self: flex-start;
  background-color: #eee;
}

.projects .right-side {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.projects .right-side .back-react {
  position: relative;
  width: 40rem;
  height: 30rem;
  background-color: #eee;
  margin: 0 auto;
  border-radius: 2rem;
}

.projects .right-side .back-react .front-react {
  position: absolute;
  width: 20rem;
  height: 40rem;
  background-color: #fff;
  box-shadow: 0 2rem 8rem #ccc;
  transform: translate(50%, 10rem);
}

.projects .right-side .selectors {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.projects .right-side .selectors .select-btn {
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-radius: 1rem;
}

/* PROJECTS FINiSHED */

/* SCHEDULE STARTED */

.schedule {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  background-color: #eee;
  padding: 4rem;
}

.schedule .secont-row {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;
}

.schedule .secont-row .mid {
  display: flex;
}

.schedule .secont-row .mid .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #000;
}

.schedule .secont-row .mid .unbold {
  background-color: #eee;
  border: 5px solid #000;
}

.schedule .secont-row .mid .lines {
  width: 30rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.schedule .secont-row .mid .lines .line {
  border-bottom: 5px solid #000;
  width: 100%;
}

.schedule .third-row {
  display: flex;
  justify-content: space-between;
  width: 80rem;
}

.schedule .third-row .date {
  padding: 1.5rem 3rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
}

.schedule .fourth-row {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.schedule .fourth-row div {
  padding: 1rem 1rem;
  background-color: #000;
  color: #fff;
}

.schedule .fourth-row button {
  padding: 2rem 6rem;
}

/* SCHEDULE FINiSHED */

/* FOOTER STARTED */

footer {
  width: 100%;
  padding: 3rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social-ntw {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer .social-ntw img {
  width: 3rem;
}

footer .logo img {
  width: 4rem;
}

/* FOOTER FINiSHED */
